<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PatientInfoA</servlet-name>
        <servlet-class>Logic.PatientInfoA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Logic.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientInfoB</servlet-name>
        <servlet-class>Logic.PatientInfoB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospitalBLogin</servlet-name>
        <servlet-class>Logic.HospitalBLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospitalALogin</servlet-name>
        <servlet-class>Logic.HospitalALogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhysicianRegistration</servlet-name>
        <servlet-class>Logic.PhysicianRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportView</servlet-name>
        <servlet-class>Logic.ReportView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhFileRequest</servlet-name>
        <servlet-class>Logic.PhFileRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveRequest</servlet-name>
        <servlet-class>Logic.ApproveRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeyVrification</servlet-name>
        <servlet-class>Logic.KeyVrification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileRequest</servlet-name>
        <servlet-class>Logic.FileRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileRequestHosA</servlet-name>
        <servlet-class>Logic.fileRequestHosA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileRequestHosB</servlet-name>
        <servlet-class>Logic.fileRequestHosB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MargeFile</servlet-name>
        <servlet-class>Logic.MargeFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CDAGenerat</servlet-name>
        <servlet-class>Algorithm.CDAGenerat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecryptionFile</servlet-name>
        <servlet-class>Algorithm.DecryptionFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientInfoA</servlet-name>
        <url-pattern>/PatientInfoA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientInfoB</servlet-name>
        <url-pattern>/PatientInfoB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospitalBLogin</servlet-name>
        <url-pattern>/HospitalBLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospitalALogin</servlet-name>
        <url-pattern>/HospitalALogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhysicianRegistration</servlet-name>
        <url-pattern>/PhysicianRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportView</servlet-name>
        <url-pattern>/ReportView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhFileRequest</servlet-name>
        <url-pattern>/PhFileRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRequest</servlet-name>
        <url-pattern>/ApproveRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeyVrification</servlet-name>
        <url-pattern>/KeyVrification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileRequest</servlet-name>
        <url-pattern>/FileRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileRequestHosA</servlet-name>
        <url-pattern>/fileRequestHosA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileRequestHosB</servlet-name>
        <url-pattern>/fileRequestHosB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MargeFile</servlet-name>
        <url-pattern>/MargeFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CDAGenerat</servlet-name>
        <url-pattern>/CDAGenerat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecryptionFile</servlet-name>
        <url-pattern>/DecryptionFile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
